<template>
    <layout>
        <h1>Home</h1>
        
    </layout>
</template>
<script>
import Layout from "../Layout";

export default {
    components: {
        Layout
    },
    data() {
        return {}
    },
    methods: {

    },
}
</script>

