<template>
    <div>
        <b-navbar variant="dark" type="dark">
            <b-navbar-brand href="#">BootstrapVue</b-navbar-brand>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
                <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template #button-content>
                        User
                    </template>
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>

        </b-navbar>

        <b-container>
            <slot></slot>
        </b-container>
    </div>
</template>
<script>
export default {

    name: 'layout',
    props: {
        disableMenu: {
            type: Boolean,
            default: false
        },
        activeMenu: {
            type: String,
            default: ''
        },
    },
    data() {
        return {
            loaded: true,
            asideOpen: true,
            isCollapse: false,
            menuItems: [],
            width: 0,
            notifications: [],
        }
    },
    watch: {
        title(title) {
            this.updatePageTitle(title)
        },
    },
    methods: {
        logout() {
            this.$inertia.post('/logout');
        },
        updatePageTitle(title) {
            document.title = title ? `${title} | ${this.$page.props.app.name}` : this.$page.props.app.name
        },
    },
    mounted() {
        this.updatePageTitle(this.title);
    }
}

</script>
