<template>
    <div class="container">

        <div class="login-div">
            <form class="form-group" @submit.prevent="onSubmit" @reset.prevent="onReset">

                <input
                    class="form-control"
                    id="input-email"
                    v-model="form.email"
                    placeholder="Email">

                <input class="form-control"
                       id="input-password"
                       v-model="form.password"
                       type="password"
                       placeholder="Password">

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            form: {
                email: '',
                password: '',
            },
        }
    },
    methods: {
        onSubmit() {
            this.$inertia.post('/login', {
                email: this.form.email,
                password: this.form.password,
            });
        },
        onReset() {
            this.form.email = '';
            this.form.password = '';
        }
    },
}
</script>
